// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.demo-app-calendar {
  margin: 0 auto;
  max-width: 900px;
}
.available {
  background: red;
}
.booked {
  background: green;
}
.room_1 {
  background: #e7e1e2;
}
.room_2 {
  background: #dae2eb;
}
.room_3 {
  background-color: #efefef;
}
.MEDIUM {
  background-color: #4c4c4c;
}
.fc-unthemed {
  background-color: #fff;
}
.ant-modal-close {
  margin-top: 10px;
  color: #4c4c4c;
}
.b-fullcalender {
  padding: 10px;
}
.fc-button {
  background-color: #f0f0f0;
  border: none;
  color: #4c4c4c;
  font-family: "Roboto Medium";
  &.fc-button-active {
    background-color: #f0f0f0 !important;
    color: #4c4c4c !important;
    border: 1px solid #4c4c4c;
  }
  &.fc-today-button {
    background-color: #f0f0f0;
    color: #4c4c4c;
    &:hover {
      background-color: #2962ff;
      color: #fff;
    }
  }
}
.ant-modal-close-icon {
  color: #4c4c4c !important;
  padding-left: 5px;
}
.fc-event {
  border: none;
  box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.45);
}
.b-google {
  width: 100%;
}
.b-logout {
  width: 100%;
}
.b-calender {
  .b-heading {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    .b-block {
      display: flex;
      align-items: center;
      padding: 10px;
      .b-block-left {
        width: 50%;
      }
      .b-block-right {
        width: 50%;
        text-align: right;
        .b-btn {
          background-color: #4fc3f2;
          border: none;
          color: #fff;
          padding: 5px 10px;
          border-radius: 4px;
        }
      }
    }
  }
}
.is-current {
  position: relative;
  border: 1.5px dashed #4c4c4c !important;
}
.b-pagination {
  padding-top: 40px;
  .b-list-page {
    text-align: center;
    .page-number {
      display: inline;
      .btn-page {
        margin: -1px;
        padding: 10px 15px;
        color: #2962ff;
        background-color: white;
        font-weight: 700;
        border: 1px solid rgb(212, 209, 209);
        i {
          font-size: 12px;
        }
        &:hover {
          background-color: #2962ff;
          color: #fff;
        }
      }
      &.is-active {
        .btn-page {
          background-color: #2962ff;
          color: #fff;
        }
      }
    }
  }
}
.b-page-header {
  .b-block {
    padding-left: 15px;
    .b-block-left {
      img {
        width: 200px;
      }
    }
    .b-block-right {
      .b-item {
        display: inline-block;
        &.b-dropdown {
          position: relative;
          &::after {
            display: none;
          }
          i {
            padding: 0 5px;
          }
          &.is-active {
            .b-hash-menu {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.fc-next-button {
  border: none !important;
  &:focus {
    box-shadow: none !important;
  }
}
.fc-prev-button {
  border: none !important;
  &:focus {
    box-shadow: none !important;
  }
}

.fc-button {
  &.fc-button-active {
    border: none !important;
    background-color: #3384e2 !important;
    color: #fff !important;
    &:focus {
      box-shadow: none !important;
    }
  }
  &:hover {
    background: #3384e2 !important;
  }
}
.b-dashboard-content {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}

// .room_item_1 {
//   &.fc-time-grid-event-inset {
//     position: relative;
//     background-color: rgba(0, 0, 0, 0.45) !important;
//     z-index: 999;
//     &::before {
//       position: absolute;
//       content: "Trùng";
//       background-color: #feeb0c;
//       right: -25px;
//       bottom: -10px;
//       z-index: 9999 !important;
//       border-radius: 2px;
//       color: #2962ff;
//       padding: 2px 4px;
//     }
//   }
// }
// .room_item_2 {
//   &.fc-time-grid-event-inset {
//     position: relative;
//     background-color: rgba(0, 0, 0, 0.45) !important;
//     z-index: 999;
//     &::before {
//       position: absolute;
//       content: "Trùng";
//       background-color: #feeb0c;
//       right: -25px;
//       bottom: -10px;
//       z-index: 9999 !important;
//       border-radius: 2px;
//       color: #2962ff;
//       padding: 2px 4px;
//     }
//   }
// }
.is-error {
  display: block;
  padding: 2px 0;
  color: red;
  visibility: hidden;
  opacity: 0;
  &.is-check {
    visibility: visible;
    opacity: 1;
  }
}
.b-btn {
  &:disabled {
    background-color: #4c4c4c !important;
    cursor: no-drop;
  }
}
.b-sendmail {
  &.is-disable {
    display: none;
  }
  .b-select-search {
    width: 100%;
    &.is-disable {
      display: none;
    }
  }
  .b-btn {
    margin-top: 30px;
    border: none;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    color: #fff;
    background-color: #2962ff;
    border-radius: 4px;
  }
}
.b-check-delete {
  p {
    color: #4c4c4c;
    font-size: 16px;
  }
  i {
    font-size: 16px;
    color: #cc3300;
  }
}
.ck-content {
  min-height: 150px !important;
}
.b-picker {
  width: 200px !important;
}
